@font-face {
  font-family: 'siyuanheiti';
  src: url('../assets/font/siyuanheiti/sourcehansansheicn-regular-webfont.eot');
  src: url('../assets/font/siyuanheiti/sourcehansansheicn-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../assets/font/siyuanheiti/sourcehansansheicn-regular-webfont.woff') format('woff'),
    url('../assets/font/siyuanheiti/sourcehansansheicn-regular-webfont.ttf') format('truetype'),
    url('../assets/font/siyuanheiti/sourcehansansheicn-regular-webfont.svg#siyuanheiti') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'siyuansongtii';
  src: url('../assets/font/siyuansongti/sourcehanserifsongcn-regular-webfont.eot');
  /* IE9 Compat Modes */
  src: url('../assets/font/siyuansongti/sourcehanserifsongcn-regular-webfont.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('../assets/font/siyuansongti/sourcehanserifsongcn-regular-webfont.woff') format('woff'),
    /* Modern Browsers */
    url('../assets/font/siyuansongti/sourcehanserifsongcn-regular-webfont.woff2') format('woff2'),
    url('../assets/font/siyuansongti/sourcehanserifsongcn-regular-webfont.ttf') format('truetype'),
    /* Safari, Android, iOS */
    url('../assets/font/siyuansongti/sourcehanserifsongcn-regular-webfont.svg#siyuansongtii') format('svg');
  /* Legacy iOS */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SingleMalta';
  src: url('../assets/font/text/SingleMalta.eot');
  /* IE9 Compat Modes */
  src:
    url('../assets/font/text/SingleMalta.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('../assets/font/text/SingleMalta.woff') format('woff'),
    /* Modern Browsers */
    // url('../assets/font/text/SingleMalta.woff2') format('woff2'),
    url('../assets/font/text/SingleMalta.ttf') format('truetype'),
    /* Safari, Android, iOS */
    url('../assets/font/text/SingleMalta.svg#SiYuanSongTi') format('svg');
  /* Legacy iOS */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'siyuansongti';
  src: url('../assets/font/siyuansongtii/siyuansongti.eot');
  /* IE9 Compat Modes */
  src:
    url('../assets/font/siyuansongtii/siyuansongti.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('../assets/font/siyuansongtii/siyuansongti.woff') format('woff'),
    /* Modern Browsers */
    // url('../assets/font/siyuansongtii/siyuansongti.woff2') format('woff2'),
    url('../assets/font/siyuansongtii/siyuansongti.ttf') format('truetype'),
    /* Safari, Android, iOS */
    url('../assets/font/siyuansongtii/siyuansongti.svg#siyuansongti') format('svg');
  /* Legacy iOS */
  font-weight: normal;
  font-style: normal;
}